In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#read data
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [3]:
#preview data
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
df.shape

(60943, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [7]:
#check for missing values
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
#What is the total sum of Animal Fat produced in 2014 and 2017
df.groupby("Item")["Y2014","Y2017"].sum()

C:\Users\ENUMER~1\AppData\Local\Temp/ipykernel_6336/1800122752.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("Item")["Y2014","Y2017"].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [9]:
#What is the mean across the whole dataset for the year 2015 to 3 decimal places?
mean_2015 = df["Y2015"].mean()
round(mean_2015,3)

135.236

In [10]:
#What is the standard deviation across the whole dataset for the year 2015 to 3 decimal places?
std_2015 = df["Y2015"].std()
round(std_2015,3)

1603.404

In [11]:
#What is the total number and percentage of missing data in 2016 to 2 decimal places?
percent_missing = df.isnull().sum()*100/len(df)
round(percent_missing,2)

Area Code       0.00
Area            0.00
Item Code       0.00
Item            0.00
Element Code    0.00
Element         0.00
Unit            0.00
Y2014           2.61
Y2015           2.54
Y2016           2.52
Y2017           2.47
Y2018           2.36
dtype: float64

In [12]:
#Which year had the highest correlation with ‘Element Code’? 
e_corr = df.groupby("Element Code")["Y2014","Y2015","Y2016","Y2017","Y2018"].corr()
e_corr.sum().sort_values(ascending=False)

C:\Users\ENUMER~1\AppData\Local\Temp/ipykernel_6336/1144541902.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  e_corr = df.groupby("Element Code")["Y2014","Y2015","Y2016","Y2017","Y2018"].corr()

Y2016    85.115735
Y2017    84.965204
Y2018    84.498238
Y2014    84.216869
Y2015    83.535900
dtype: float64

In [13]:
#What year has the highest sum of Import Quantity?
df.loc[df["Element"]=="Import Quantity", ["Y2014","Y2015","Y2016","Y2017","Y2018"]].sum().sort_values(ascending=False)

Y2017    294559.09
Y2018    287997.09
Y2016    286582.78
Y2014    274144.48
Y2015    267018.46
dtype: float64

In [14]:
#What is the total number of the sum of Production in 2014?
df.loc[df["Element"]=="Production", "Y2014"].sum()

1931287.75

In [15]:
#Which of these elements had the highest sum in 2018?
df.groupby("Element")["Y2018"].sum().sort_values()

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [16]:
#What is the total Import Quantity in Algeria in 2018?
df.loc[df["Area"]=="Algeria"].groupby("Element")["Y2018","Area"].sum()

C:\Users\ENUMER~1\AppData\Local\Temp/ipykernel_6336/3707670426.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.loc[df["Area"]=="Algeria"].groupby("Element")["Y2018","Area"].sum()

                                           Y2018
Element
Domestic supply quantity                90023.42
Export Quantity                           811.54
Fat supply quantity (g/capita/day)        309.09
Feed                                    10668.00
Food                                    63736.33
Food supply (kcal/capita/day)           13288.00
Food supply quantity (kg/capita/yr)      1509.28
Import Quantity                         36238.29
Losses                                   7708.00
Other uses (non-food)                    3970.08
Processing                               2479.00
Production                              60766.67
Protein supply quantity (g/capita/day)    367.28
Residuals                                 630.00
Seed                                      825.00
Stock Variation                          6172.00
Total Population - Both sexes           42228.00

In [17]:
#What is the total number of unique countries in the dataset?
df.groupby("Area")["Area"].unique().count()

49